extends layout

block content

    h3 #[strong Id: ] !{gameinstance.id}

    p #[strong Game: ]  !{gameinstance.game.title}
    p #[strong Platform: ]  !{gameinstance.platform}
    p #[strong Status: ] !{gameinstance.status}

   


