extends layout 

block content

    if list_gameinstances.length > 0
        p #[strong Please, before deleting, delete following gameinstances: ]
            each gameinstance in list_gameinstances
                li !{gameinstance.id} 

    else
        p #[strong Are you sure that you want to delete this game]

            form(method="POST")
                div.form-group
                    input.form-control(type= "hidden", name= "game_id", id= "game_id", value=game.id )
                    
                button.btn.btn-primary(type="submit") Delete

