
extends layout 

block content 

    form(method="POST")
        div.form-group
             label(for="game_genre").form-label #[strong Genre Name: ]
             input(type= "text", id="game_genre" name= "game_genre" required).form-control

        div.form-group
        button.btn.btn-primary(type="submit") Submit

