
extends layout 

block content 

    form(method="POST")
        div.form-group
             label(for="genre_name").form-label #[strong Genre Name: ]
             input(type= "text", id="genre_name" name= "genre_name" required value=(undefined===genre ?  "" : genre.name)).form-control

        div.form-group
        button.btn.btn-primary(type="submit") Submit

