extends layout 

block content

    if list_games.length > 0
        p #[strong Before deleting this platform,  delete following games: ]
            each game in list_games
                li !{game.title}

 

   

    else
        p #[strong Are you sure that you want to delete this platform: ]

            form(method="POST")
                div.form-group
                    input.form-control(type= "hidden", name= "platform_id", id= "platform_id", value=platform.id )
                    
                button.btn.btn-primary(type="submit") Delete

